<div ng-click="toggle()" class="icon" ng-class="{'enabled': enabled }" data-icon="b" alt="Bookmarks"></div>
<div class="container">
    <div class="subContainer">
        <div class="triangle"></div>
        <div class="content">
            <button ng-click="addBookmark()" ng-class="{ 'disabled': disabled }" ng-disabled="disabled" ng-hide="displayOnly">{{ buttonText }}</button>
            <div class="separator" ng-show="bookmarks.length && !displayOnly"></div>
            <ul>
                <li ng-repeat="bookmark in bookmarks track by $index">
                    <a ng-href=".{{ bookmark.url }}" class="capitalize">{{ bookmark.name }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>