<header id="topbar" ng-class="{ dropshadow: scrolled }">
    <nav id="nav">
        <ul>
            <li class="about big drop" set-location="setLocation(url)"></li>
            <li>
                <div ng-click="setLocation('/')" class="icon enabled" data-icon="1" alt="Home" />
            </li>
            <li class="bookmarks drop" set-location="setLocation(url)"></li>
        </ul>
    </nav>

    <h1>Legal disclaimer</h1>
</header>

<div id="main" scroll>
    <section id="content">
        <nav class="toc">
            <h3>Contents</h3>
            <ol>
                <li><a ng-href="legals#liability-contents">Liability for Contents</a></li>
                <li><a ng-href="legals#liability-links">Liability for Links</a></li>
                <li><a ng-href="legals#copyright">Copyright</a></li>
                <li><a ng-href="legals#info-data-protection">Information on Data protection</a></li>
                <li><a ng-href="legals#logs">Logs</a></li>
                <li><a ng-href="legals#purpose-logs">Purpose of logs</a></li>
                <li><a ng-href="legals#cookies">Use of cookies / Piwik tracking software</a></li>
                <li><a ng-href="legals#data-protection">Data Protection</a></li>
                <li><a ng-href="legals#opt-out-clause">Opt-out Clause</a></li>
            </ol>
        </nav>

        <div class="separator"></div>

        <h2>Disclaimer</h2>
        <h3 id="liability-contents">Liability for Contents</h3>
        <p>The contents of our pages have been created with great care. However, we cannot take any responsibility for the accuracy, completeness or timeliness of the contents.<br/>
        As a service provider, we are responsible according to § 7 para 1 TMG (Tele Media Act) for own contents on these pages under the general laws. According to § 8 to 10 TMG, we are not required to monitor transmitted or stored information or to investigate circumstances that indicate illegal activity. The obligation to remove or block the use of information under the general laws remains unaffected by this. However, any liability is only possible from the date of knowledge of a specific infringement. Upon gaining knowledge of such violations, we will immediately remove this content.</p>

        <h3 id="liability-links">Liability for Links</h3>
        <p>Our site contains links to external third-party websites over which we have no control. Thus we disclaim any warranty for these contents. The respective provider or operator of such sites is always responsible for the contents of the linked sites. The linked sites were checked at the time of linking for possible violations of law. Illegal contents were not apparent at the time of linking. A permanent control of the linked pages is unreasonable without concrete evidence of a violation.</p>

        <h3 id="copyright">Copyright</h3>
        <p>The created contents and works provided on these pages by the operators of this site are subject to the German copyright law. Third-party contributions are marked as such. Reproduction, adaptation, dissemination and any kind of exploitation outside the limits of the copyright require the written consent of the author or creator. Downloads and copies of these pages are only permitted for private, non-commercial use.<br/>
        The operators of these pages aim to observe the copyright of others or will refer to their own or license-free works.</p>

        <h2 id="data-protection">Data protection</h2>
        <h3 id="info-data-protection">Information on Data Protection</h3>
        <p>The team behind <em>Semantic Body Browser</em> takes data protection very seriously. We are committed to safeguarding your personal data when using our online services. We pledge that any information you provide us will only be used for the purposes explicitly mentioned below. In the following, you will find information about the type, extent and purpose of the data we process, as well as the use of cookies on our website.</p>

        <h3 id="logs">Logs</h3>
        <p>Every time a user accesses our online services or downloads a file from our website, a record of the query is temporarily stored and processed in a log file. Before any data is saved, the user’s IP address is anonymised, rendering it impossible to assign the data to any specific person. Every visit/download is recorded in a log file as follows:</p>

        <p>Depending on the access log used, the log data file will contain items with the following information:</p>
        <ul>
            <li>IP address of the computer requested</li>
            <li>Date and time of the request</li>
            <li>Access method / function intended by requesting computer</li>
            <li>Input values (file name, etc.) transmitted by requesting computer</li>
            <li>Access status of Web server (file transferred, file not found, command not executed, etc.)</li>
            <li>Name of file requested</li>
            <li>URL from which the file or the desired function was requested</li>
        </ul>

        <h3 id="purpose-logs">Purpose of logs</h3>
        <p>Recorded data are used for the purpose of identifying and pursuing invalid accessing of and attempts to gain access to the web server and - in an anonymous form - to optimize web content. Following analysis, all collected data are deleted. Any other usage or transfer of these data to third parties is excluded.</p>

        <h3 id="cookies">Use of cookies / Piwik tracking software</h3>
        <p>Our website uses Piwik, a web analytics software package. Piwik saves text files, called "cookies", onto your computer which allows us to analyse how you use the website. For this purpose, the information generated by the "session cookie" (including your abbreviated IP address) is transmitted and saved onto our server so that we can optimise our web pages. As all IP addresses are anonymised in the process, your user identity remains anonymous. The collected data is not shared with third-parties. You may choose to deactivate cookies by blocking them via your web browser. However, this may prevent you from taking full advantage of all the features offered on the website.<br/>
        If you do not wish to have your session data saved and analysed, you can retract your consent on cookie storage and usage with a mouse click at any time. In such a case, Piwik places an “opt-out cookie” onto your browser which prevents it from collecting any data during your visit to our website. Please note that if you choose to delete all the cookies in your browser, the Piwik opt-out cookie will also be erased. This means you will have to reactivate the opt-out cookie during your next session.<br/>
        You may choose not to have a unique web analytics cookie identification number assigned to your computer to avoid the aggregation and analysis of data collected on this website.
        To make that choice, please click below to receive an opt-out cookie.</p>

        <iframe id="piwik" src="http://www.cellfinder.de/piwik/index.php?module=CustomOptOut&amp;action=optOut&amp;idSite=4&amp;language=en"></iframe>

        <h3 id="data-protection">Data Protection</h3>
        <p>Wherever on these pages personal data such as names and/or email addresses are collected this will take place on a voluntary basis. Where applicable, the use of contents and services offered is possible without the need to provide personal data. We have to point out that data transfer across the Internet such as in email communication may have security leaks. A complete protection from unwanted third-party access to such data is therefore impossible.</p>

        <h3 id="opt-out-clause">Opt-out Clause</h3>
        <p>All persons that have provided and published personal data on these Internet pages expressly 'opt-out' from the use of their personal data by third parties for the purpose of providing unsolicited information or advertising material. The providers of these pages reserve the rights to legal action against any violation of this opt-out such as in the unsolicited sending of advertising like in spam emails.</p>
    </section>
</div>
