<div ng-class="{ 'ready': ready }">
    <div>
        <div id="heatMapNotify" ng-class="{'visible': heatmap, 'topbar' : zoomOutLevels.length }">
            <div class="deselectGene"
                 ng-class="{'visible': selectedGene.length }"
                 ng-click="resetSingleGene()">
                {{ selectedGene }} <div class="icon" data-icon="x"></div>
            </div>
            <div ng-click="resetHeatMap()" class="closeAll">
                Heat Map Modus <div class="icon" data-icon="x"></div>
            </div>
        </div>
        <div id="displayAll" ng-click="displayAll()" class="icon" ng-class="{'heatMap': heatmap, 'topbar' : zoomOutLevels.length }" data-icon="a" title="Show All">Display All</div>
        <div id="download" ng-click="download()" ng-show="fileSaverSupport" ng-class="{'heatMap': heatmap, 'topbar' : zoomOutLevels.length }" class="icon" data-icon="s" title="Download">Download</div>
    </div>
    <div id="zoomDialog" class="drop only big">
        <div class="container">
            <div class="subContainer">
                <div class="triangle"></div>
                <div class="content">
                    <h3 class="strong">{{ activeUnit }}</h3>
                    <p ng-hide="!unitDefinition.definition.length">{{ unitDefinition.definition | max:300 }} <a ng-href="{{ unitDefinition.reference }}" ng-show="unitDefinition.reference.length" target="_blank" class="reference">Reference</a></p>
                    <div class="separator" ng-hide="!unitDefinition.definition.length"></div>
                    <div class="wrapper">
                        <a ng-href="http://cellfinder.org/ontology?id={{ ontId }}" ng-class="{ 'disabled': !ontId.length }" target="_blank" class="left button">Details</a>
                        <a ng-click="setView({view:activeUnit})" ng-class="{ 'disabled': zoomDisabled }" class="right button">Zoom</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="heatMapCloseDialog" class="drop only" ng-class="{'opened': heatMapCloseDialog && heatmap}">
        <div class="container">
            <div class="subContainer">
                <div class="triangle"></div>
                <div class="content">
                    <a ng-click="resetHeatMap()" class="button">Close Heat Map mode!</a>
                </div>
            </div>
        </div>
    </div>
</div>