<div ng-click="toggle()" ng-class="{'enabled': enabled }" class="icon" data-icon="{{ currentSpecies.substr(0,1) }}" alt="Species" />
<div class="container">
    <div class="subContainer">
        <div class="triangle"></div>
        <div class="content">
            <h3>Switch Species</h3>
            <ul>
                <li ng-repeat="species in allSpecies">
                    <button class="big left icon capitalize" data-icon="{{ species.species.substr(0,1) }}" ng-click="changeSpecies(species.name)" ng-disabled="currentSpecies == species.species" ng-class="{'active': currentSpecies == species.species}">{{ species.species }}</button>
                </li>
            </ul>
        </div>
    </div>
</div>