<header id="topbar">
    <nav id="nav">
        <ul>
            <li class="about drop"></li>
            <li>
                <div ng-click="setLocation('/')" class="icon enabled" data-icon="1" alt="Home"></div>
            </li>
            <li class="bookmarks drop"
                set-location="setLocation(url)"
                name="{{ title }}">
            </li>
            <li class="help drop"></li>

            <li class="fRight drop center" gender>
                <span ng-hide="genderEnabled" class="icon disabled" data-icon="o">Neutral</span>
                <a ng-click="changeGender()" ng-show="genderEnabled" class="icon" data-icon="{{ genderIcon }}">{{ genderName }}</a>
            </li>
            <li class="species fRight drop center"
                set-location="setLocation(url, keepActiveUnit)"
                current-species="{{ data.view.species }}"
                stage="{{ data.view.stage }}"
                similar-views="similarViews">
            </li>
            <li dev-stage
                class="fRight drop center"
                ng-class="{'opened': stageOpen }"
                species="{{ data.view.species }}"
                stage="{{ data.view.stage }}"
                gender="{{ data.view.gender }}"
                similar-views="similarViews">
            </li>
            <li class="zoom fRight drop center" set-location="setLocation(url)" level="{{ data.view.level }}" zoom-views="zoomViews" zoom-in-levels="zoomInLevels" zoom-out-levels="zoomOutLevels"></li>
        </ul>
        <div class="poi leftNav" ng-include src="helpLeftNav" ng-class="{ active: help}"></div>
        <div class="poi rightNav" ng-include src="helpRightNav" ng-class="{ active: help}"></div>
    </nav>

    <form id="search">
        <div class="wrapper">
            <input ng-model="searchInput" name="search" type="search" placeholder="Search" />
            <div class="close" ng-show="searchInput.length" ng-click="searchInput = ''" data-icon="x">Close</div>
            <div class="poi" ng-include src="helpSearch" ng-class="{ active: help}"></div>
        </div>
    </form>

    <h1 class="right">
        {{ title }}
    </h1>
    <div class="poi" ng-include src="helpTitle" ng-class="{ active: help}"></div>
</header>

<div id="searchbar" ng-class="{ active: searchInput.length }">
    <section id="results">
        <h2>Illustrations <span class="num">{{ results.views.length }}</span></h2>
        <ul class="alphabet">
            <li ng-repeat="view in results.views">
                <h3><a ng-href="{{ view.sub[0].link }}">{{ view.name }}</a></h3>
                <ul>
                    <li ng-repeat="subview in view.sub">
                        <a ng-href="{{ subview.link }}">{{ subview.species }} {{ subview.stage }}</a>
                    </li>
                </ul>
            </li>
        </ul>
        <h2>Entities within an illustration <span class="num">{{ results.units.length }}</span></h2>
        <ul class="alphabet">
            <li ng-repeat="unit in results.units">
                <h3><a ng-href="{{ unit.sub[0].link }}?unit={{ unit.name | linkCompliant }}">{{ unit.name }}</a></h3>
                <ul>
                    <li ng-repeat="subunit in unit.sub">
                        <a ng-href="{{ subunit.link }}?unit={{ unit.name | linkCompliant }}">{{ subunit.species }} {{ subunit.stage }} {{ subunit.view }}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
    <div class="close" ng-click="searchInput = ''">Close</div>
</div>

<div id="sidebar">
    <section id="units" units ng-class="{ 'heatmap' : expression }">
        <div class="poi" ng-include src="helpUnits" ng-class="{ active: help}"></div>
        <h2>Entities</h2>
        <ol class="alphabet">
            <li ng-repeat="letter in units">
                <ul class="letter" data-letter="{{ letter[0].title.substr(0,1) }}">
                    <li ng-repeat="unit in letter">
                        <div class="wrapper">
                            <span class="hmIcon"
                                  ng-style="relColor(expression.sum[unit.name])">
                                <span ng-show="selectedGene > -1">{{ expression[unit.name][genes[selectedGene]] }} / </span>{{ expression.sum[unit.name] | number:1 }}
                            </span>
                            <a
                                ng-href="{{ data.view.name }}?unit={{ unit.name }}"
                                class="unit"
                                ng-class="{'zoomable': unit.zoom,
                                           'active': unit.name == activeUnit,
                                           'highlight': unit.name == hoverUnit}"
                                ng-dblclick="setView(unit.name)"
                                data-prefix="{{ prefix(unit.prefix) }}"
                                data-expr="{{ unit.expr }}"
                                id="unit_{{ unit.name }}">{{ unit.title }}
                            </a>
                            <ol class="singleGenes" ng-if="expUnits">
                                <li ng-repeat="gene in genes"
                                    ng-style="{ width: relExp(unit.name, gene) }">
                                    <div class="bar"
                                         ng-class="{'highlight': gene == genes[selectedGene] }"
                                         ng-click="selectSingleGene($index)">
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </li>
                </ul>
            </li>
        </ol>
    </section>

    <div id="information" accordion>
        <section>
            <div class="poi" ng-include src="helpInformation" ng-class="{ active: help}"></div>
            <h2 ng-click="toggle($event)">Details</h2>
            <div class="body">
                <h3 ng-hide="!data.definitions.length">Definition:</h3>
                <ul>
                    <li ng-repeat="definition in data.definitions">{{ definition.definition }}<i ng-show="definition.reference"> (<a href="{{ definition.reference }}" target="_blank">Reference</a>)</i></li>
                </ul>
                <h3 ng-show="data.synonyms.length">Synonym:</h3>
                <ul class="csv" ng-show="data.synonyms.length">
                    <li class="tag" ng-repeat="synonym in data.synonyms">{{ synonym }}</li>
                </ul>
                <h3>Details:</h3>
                <ul class="csv">
                    <li><a class="button icon" data-icon="&#xe600;" ng-href="http://cellfinder.org/ontology?id={{ data.view.ont_id }}" target="_blank">CellFinder</a></li>
                </ul>
                <h3>Species:</h3>
                <p>{{ data.view.species }}</p>
                <h3>Gender:</h3>
                <div ng-switch on="genderEnabled">
                    <p ng-switch-when="false">gender-neutral</p>
                    <p ng-switch-default>{{ gender }}</p>
                </div>
                <h3>Resolution:</h3>
                <p>{{ data.view.level }}</p>
                <h3>Developmental Stage:</h3>
                <p>{{ data.view.stage | devStage:data.view.species }}</p>
                <h3><abbr title="Unified Resource Identifier">URI</abbr>:</h3>
                <p>{{ data.view.uri }}</p>
            </div>
        </section>

        <section id="heatmap" class="closed" ng-class="{'disabled': !heatmap, 'info': genes.length }">
            <div class="poi" ng-include src="helpHeatmap" ng-class="{ active: help}"></div>
            <h2 ng-click="toggle($event, !heatmap)">
                Heatmap
                <div class="info" ng-class="{'left': genes.length}" ng-click="openHeatmapInfo()" data-icon="i">Help</div>
                <div class="close" ng-class="{'closable': genes.length}" ng-click="resetHeatmap()" data-icon="x">Close</div>
            </h2>
            <div class="body">
                <div class="expValue">
                    <h4 title="Transcripts per million">TPM</h4>
                    <div class="colors"></div>
                    <span class="min">{{ expression.min }}</span>
                    <span class="max">{{ expression.max }}</span>
                </div>
                <div class="dataset">
                    <select ng-model="dataset" ng-options="id as name for (id, name) in data.expDatasets"></select>
                </div>
                <sbb-chosen data="geneList" selection="genes" limit="15" placeholder="Search for a gene" no-results="Nothing found." />
            </div>
        </section>

        <section class="closed" ng-class="{'disabled': !data.pictures.length, 'error': data.pictures.length && !omeroAvailable}">
            <div class="poi" ng-include src="helpPicture" ng-class="{ active: help}"></div>
            <h2 ng-click="toggle($event, !data.pictures.length || !omeroAvailable)" data-error="(Image server is not available!)">Histologic Images</h2>
            <div horizontal-slider class="body slider" data="data.pictures" num-visible-items="1">
                <ul>
                    <li ng-repeat="picture in data.pictures" ng-repeat-finish-render>
                        <a ng-href="http://cellfinder.org/ontology/image?id={{ data.view.ont_id }}&amp;omeId={{ picture }}" target="_blank" >
                            <slider-img picture="{{ picture }}" />
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</div>

<div id="main" class="right">
    <div class="poi ilu" ng-include src="helpIlu" ng-class="{ active: help}"></div>
    <div class="poi iluAll" ng-include src="helpIluAll" ng-class="{ active: help}"></div>
    <div class="poi iluBlank" ng-include src="helpIluBlank" ng-class="{ active: help}"></div>
    <header id="subtopbar" ng-class="{ 'visible' : zoomOutLevels.length }">
        <ol id="breadcrumbs">
            <li ng-repeat="level in zoomOutLevels">
                <a ng-href="{{ level.name }}">
                    {{ level.level.replace('-', ' ') }}
                </a>
            </li>
            <li>
                <em>{{ data.view.level }}</em>
            </li>
        </ol>
    </header>
    <raphael id="raphael" ilu="ilu" ont-id="{{ data.view.ont_id }}" prefixes="data.prefixes" set-view="setView(view)" set-active-unit="setActiveUnit(unit, group)" is-zoomable="isZoomable(unit)" get-ont-id="getOntId(unit)" expression="expression" is-unit-overlayed="isUnitOverlayed(unit)" reset-heat-map="resetHeatmap()" view="data.view" />
    <footer><a href="about#license">Copyright</a> / <a href="legals">Legals</a></footer>
</div>

<div id="helpContainer" ng-include src="helpMessage"></div>