<div ng-click="toggle()" class="icon enabled" data-icon="Z" alt="Zoom"></div>
<div class="container">
    <div class="subContainer">
        <div class="triangle"></div>
        <div class="content">
            <svg version="1.1" id="browse_tree" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                 width="337px" height="334px" viewBox="0 0 337 334">
                <path class="link" d="M171.666,16c0,30-124.715,30-124.715,60"/>
                <path class="link" d="M170.615,16c0,30-13.331,30-13.331,60"/>
                <path class="link" d="M173.094,16c0,30,122.479,30,122.479,60"/>
                <path class="link" d="M157.287,76c0,30-28.573,30-28.573,60"/>
                <path class="link" d="M157.287,76c0,30,28.571,30,28.571,60"/>
                <path class="link" d="M128.714,136c0,30,0,30,0,60"/>
                <path class="link" d="M128.714,196c0,30-93.571,30-93.571,60"/>
                <path class="link" d="M128.714,196c0,30-28.571,30-28.571,60"/>
                <path class="link" d="M128.714,196c0,30,28.573,30,28.573,60"/>
                <path class="link" d="M128.714,196c0,30,93.286,30,93.286,60"/>
                <path class="link" d="M221.428,256c0,30,0,30,0,60"/>
                <path class="link" d="M295.715,76c0,30,0,30,0,60"/>
                <path class="link" d="M295.715,136c0,30,0,30,0,60"/>
                <path class="link" d="M295.715,196c0,30,0,30,0,60"/>
                <path class="link" d="M295.715,256c0,30,0,30,0,60"/>
                <g class="node" ng-class="{'active': 'body' == level}" ng-click="goto('body')" transform="translate(228.57142857142858,0)">
                    <path d="M-63.644,1h13c8.285,0,15,6.716,15,15l0,0c0,8.284-6.715,15-15,15h-13c-8.283,0-15-6.716-15-15l0,0
                        C-78.644,7.716-71.927,1-63.644,1z"/>
                    <text transform="matrix(1 0 0 1 -70.819 20.2002)">Body</text>
                </g>
                <g class="node" ng-class="{'active': 'gall-bladder' == level}" ng-click="goto('gall-bladder')" transform="translate(114.28571428571429,60)">
                    <path d="M-80.643,1h27c8.284,0,15,6.716,15,15l0,0c0,8.284-6.716,15-15,15h-27c-8.284,0-15-6.716-15-15l0,0
                        C-95.643,7.716-88.927,1-80.643,1z"/>
                    <text transform="matrix(1 0 0 1 -77.813 14.2002)">Gall</text>
                    <text transform="matrix(1 0 0 1 -87.1588 26.2002)">bladder</text>
                </g>
                <g class="node" ng-class="{'active': 'kidney' == level}" ng-click="goto('kidney')" transform="translate(171.42857142857144,60)">
                    <path d="M-25.643,1h23c8.285,0,15,6.716,15,15l0,0c0,8.284-6.715,15-15,15h-23c-8.284,0-15-6.716-15-15l0,0
                        C-40.643,7.716-33.927,1-25.643,1z"/>
                    <text transform="matrix(1 0 0 1 -32.4886 20.2002)">Kidney</text>
                </g>
                <g class="node" ng-class="{'active': 'renal-lobe' == level}" ng-click="goto('renal-lobe')" transform="translate(142.85714285714286,120)">
                    <path d="M-23.143,1h18c8.286,0,15,6.716,15,15l0,0c0,8.284-6.715,15-15,15h-18c-8.284,0-15-6.716-15-15l0,0
                        C-38.143,7.716-31.427,1-23.143,1z"/>
                    <text transform="matrix(1 0 0 1 -29.8201 14.2002)">Renal</text>
                    <text transform="matrix(1 0 0 1 -27.491 26.2002)">Lobe</text>
                </g>
                <g class="node" ng-class="{'active': 'nephron' == level}" ng-click="goto('nephron')" transform="translate(142.85714285714286,180)">
                    <path d="M-30.643,1h33c8.285,0,15,6.716,15,15l0,0c0,8.284-6.715,15-15,15h-33c-8.284,0-15-6.716-15-15l0,0
                        C-45.643,7.716-38.927,1-30.643,1z"/>
                    <text transform="matrix(1 0 0 1 -37.1589 20.2002)">Nephron</text>
                </g>
                <g class="node" ng-class="{'active': 'collecting-duct' == level}" ng-click="goto('collecting-duct')" transform="translate(57.142857142857146,240)">
                    <path d="M-41.143,1h40c8.284,0,15,6.716,15,15l0,0c0,8.284-6.716,15-15,15h-40c-8.285,0-15-6.716-15-15l0,0
                        C-56.143,7.716-49.427,1-41.143,1z"/>
                    <text transform="matrix(1 0 0 1 -47.4896 14.2002)">Collecting</text>
                    <text transform="matrix(1 0 0 1 -32.4837 26.2002)">duct</text>
                </g>
                <g class="node" ng-class="{'active': 'distal-tubule' == level}" ng-click="goto('distal-tubule')" transform="translate(114.28571428571429,240)">
                    <path d="M-26.643,1h19c8.284,0,15,6.716,15,15l0,0c0,8.284-6.716,15-15,15h-19c-8.284,0-15-6.716-15-15l0,0
                        C-41.643,7.716-34.927,1-26.643,1z"/>
                    <text transform="matrix(1 0 0 1 -32.1461 14.2002)">Distal</text>
                    <text transform="matrix(1 0 0 1 -33.4908 26.2002)">tubule</text>
                </g>
                <g class="node" ng-class="{'active': 'proximal-tubule' == level}" ng-click="goto('proximal-tubule')" transform="translate(171.42857142857144,240)">
                    <path d="M-32.643,1h33c8.285,0,15,6.716,15,15l0,0c0,8.284-6.715,15-15,15h-33c-8.284,0-15-6.716-15-15l0,0
                        C-47.643,7.716-40.927,1-32.643,1z"/>
                    <text transform="matrix(1 0 0 1 -39.4808 14.2002)">Proximal</text>
                    <text transform="matrix(1 0 0 1 -32.4906 26.2002)">tubule</text>
                </g>
                <g class="node" ng-class="{'active': 'renal-corpuscle' == level}" ng-click="goto('renal-corpuscle')" transform="translate(228.57142857142858,240)">
                    <path d="M-25.144,1h38c8.285,0,15,6.716,15,15l0,0c0,8.284-6.715,15-15,15h-38c-8.283,0-15-6.716-15-15l0,0
                        C-40.144,7.716-33.427,1-25.144,1z"/>
                    <text transform="matrix(1 0 0 1 -21.8195 14.2002)">Renal</text>
                    <text transform="matrix(1 0 0 1 -31.8214 26.2002)">corpuscle</text>
                </g>
                <g class="node" ng-class="{'active': 'podocyte' == level}" ng-click="goto('podocyte')" transform="translate(228.57142857142858,300)">
                    <path d="M-24.144,1h36c8.285,0,15,6.716,15,15l0,0c0,8.284-6.715,15-15,15h-36c-8.283,0-15-6.716-15-15l0,0
                        C-39.144,7.716-32.427,1-24.144,1z"/>
                    <text transform="matrix(1 0 0 1 -31.1593 20.2002)">Podocyte</text>
                </g>
                <g class="node" ng-class="{'active': 'ureter' == level}" ng-click="goto('ureter')" transform="translate(200,120)">
                    <path d="M-23.643,1h19c8.283,0,15,6.716,15,15l0,0c0,8.284-6.717,15-15,15h-19c-8.285,0-15-6.716-15-15l0,0
                        C-38.643,7.716-31.927,1-23.643,1z"/>
                    <text transform="matrix(1 0 0 1 -30.8125 20.2002)">Ureter</text>
                </g>
                <g class="node" ng-class="{'active': 'liver' == level}" ng-click="goto('liver')" transform="translate(342.8571428571429,60)">
                    <path d="M-53.142,1h12c8.283,0,15,6.716,15,15l0,0c0,8.284-6.717,15-15,15h-12c-8.285,0-15-6.716-15-15l0,0
                        C-68.142,7.716-61.427,1-53.142,1z"/>
                    <text transform="matrix(1 0 0 1 -60.1482 20.2002)">Liver</text>
                </g>
                <g class="node" ng-class="{'active': 'hepatic-lobe' == level}" ng-click="goto('hepatic-lobe')" transform="translate(342.8571428571429,120)">
                    <path d="M-53.642,1h13c8.283,0,15,6.716,15,15l0,0c0,8.284-6.717,15-15,15h-13c-8.285,0-15-6.716-15-15l0,0
                        C-68.642,7.716-61.927,1-53.642,1z"/>
                    <text transform="matrix(1 0 0 1 -60.49 20.2002)">Lobe</text>
                </g>
                <g class="node" ng-class="{'active': 'hepatic-lobule' == level}" ng-click="goto('hepatic-lobule')" transform="translate(342.8571428571429,180)">
                    <path d="M-58.642,1h23c8.283,0,15,6.716,15,15l0,0c0,8.284-6.717,15-15,15h-23c-8.285,0-15-6.716-15-15l0,0
                        C-73.642,7.716-66.927,1-58.642,1z"/>
                    <text transform="matrix(1 0 0 1 -65.1599 20.2002)">Lobule</text>
                </g>
                <g class="node" ng-class="{'active': 'hepatic-acinus' == level}" ng-click="goto('hepatic-acinus')" transform="translate(342.8571428571429,240)">
                    <path d="M-58.142,1h22c8.283,0,15,6.716,15,15l0,0c0,8.284-6.717,15-15,15h-22c-8.285,0-15-6.716-15-15l0,0
                        C-73.142,7.716-66.427,1-58.142,1z"/>
                    <text transform="matrix(1 0 0 1 -65.1521 20.2002)">Acinus</text>
                </g>
                <g class="node" ng-class="{'active': 'hepatocyte' == level}" ng-click="goto('hepatocyte')" transform="translate(342.8571428571429,300)">
                    <path d="M-70.642,1h47c8.283,0,15,6.716,15,15l0,0c0,8.284-6.717,15-15,15h-47c-8.285,0-15-6.716-15-15l0,0
                        C-85.642,7.716-78.927,1-70.642,1z"/>
                    <text transform="matrix(1 0 0 1 -77.4939 20.2002)">Hepatocyte</text>
                </g>
            </svg>
        </div>
    </div>
</div>
