# Enable Apache's rewrite engine
RewriteEngine on
# Set the rewrite base to the location of this application relative to your
# Apache document root directory. (E.g. if you clone the repsotory to
# /path/to/apache/root/somewhere then the rewrite base is /somewhere)
Rewritebase /

# Change `index_production\.html` to `index_development\.html` to include the
# original, i.e. not uglified, stylesheets and script files.
RewriteCond $1 !^(index_production\.html|img|css|js|lib|font|partials)
RewriteRule ^(.*)$ index_production\.html#!/$1 [L]
