/*******************************************************************************
 * Transforms
 ******************************************************************************/

// $easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$easeInOutCubic: cubic-bezier(0.3, 0.1, 0.6, 1);


/*******************************************************************************
 * Animations
 ******************************************************************************/

@-webkit-keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3) rotate(12deg);
            transform: scale3d(.3, .3, .3) rotate(12deg);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(-6deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate(-6deg);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9) rotate(3deg);
            transform: scale3d(.9, .9, .9) rotate(3deg);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03) rotate(-1deg);
            transform: scale3d(1.03, 1.03, 1.03) rotate(-1deg);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97) rotate(1deg);
            transform: scale3d(.97, .97, .97) rotate(1deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1) rotate(0deg);
            transform: scale3d(1, 1, 1) rotate(0deg);
  }
}

@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3) rotate(12deg);
            transform: scale3d(.3, .3, .3) rotate(12deg);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(-6deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate(-6deg);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9) rotate(3deg);
            transform: scale3d(.9, .9, .9) rotate(3deg);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03) rotate(-1deg);
            transform: scale3d(1.03, 1.03, 1.03) rotate(-1deg);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97) rotate(1deg);
            transform: scale3d(.97, .97, .97) rotate(1deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1) rotate(0deg);
            transform: scale3d(1, 1, 1) rotate(0deg);
  }
}

.bounceIn {
  -webkit-animation-name: bounceIn;
          animation-name: bounceIn;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
