.drop {
    position: relative;
    opacity: 0.98;
}

.drop.only {
    position: absolute;
    float: none;
    width: 1px;
    height: 1px;
}

.drop > a {
    display: block;
    padding: 5px;
    cursor: pointer;
}

.drop div.container,
.drop.closed div.container {
    position: absolute;
    top: -10000px;
    width: 100%;
}

.drop.opened div.container {
    top: 30px;
}
.drop.hover:hover div.container {
    top: 16px;
}

.drop.only div.container {
    left: -120px;
    width: 240px;
}

.drop.only.big div.container {
    left: -160px;
    width: 320px;
}

.drop.only.opened div.container {
    top: 15px;
}

.drop.only.top.opened div.container,
.drop.top.hover:hover div.container {
    top: auto;
    bottom: 10px;
    margin-top: 0;
    margin-bottom: -6px;
}

.drop.top.hover:hover div.container {
    bottom: 30px;
}

.drop.only.left div.container {
    left: -226px; /* -240 + 14 = -226 */
}
.drop.only.big.left div.container {
    left: -306px; /* -320 + 14 = -306 */
}

.drop.only.right div.container {
    left: -14px;
}

.drop.hover.right div.container {
    left: -216px;
}

.drop.big.hover.right div.container {
    left: -296px;
}

.drop div.subContainer {
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: translate3d( 0, -4px, 0);
    transition: all .1s $easeInOutCubic;
}

.drop.opened div.subContainer,
.drop.hover:hover div.subContainer {
    opacity: 1;
    transition: translate3d( 0, 6px, 0);
}

.drop.only.top.opened div.subContainer,
.drop.top.hover:hover div.subContainer {
    top: auto;
    bottom: 6px;
}

.drop div.triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid rgba(0,0,0,0.2);
    top: -7px;
    left: 50%;
    margin-left: -7px;
    z-index: 2;
}
.drop div.triangle:before {
    content:"";
    display:block;
    position:absolute;
    z-index:-1;
    top: 1px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #f7f7f5;
    margin-left: -6px;
}

.drop.only.top div.triangle,
.drop.hover.top div.triangle {
    top: auto;
    bottom: -7px;
    border-top: 7px solid rgba(0,0,0,0.2);
    border-bottom: none;
}

.drop.only.top div.triangle:before,
.drop.hover.top div.triangle:before {
    top: auto;
    bottom: 1px;
    border-top: 6px solid #f7f7f5;
    border-bottom: none;
}

.drop.only.left div.triangle {
    left: auto;
    right: 7px;
    margin-left: 0;
}

.drop.only.right div.triangle {
    left: 7px;
    margin-left: 0;
}

.drop.hover.right div.triangle {
    left: 220px;
    margin-left: 0;
}

.drop.big.hover.right div.triangle {
    left: 300px;
    margin-left: 0;
}

.drop div.content {
    position: absolute;
    width: 240px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #f7f7f5;
    box-shadow: 0 0 1px 0 rgba(0,0,0,.5), 0 1px 3px 0 rgba(0,0,0,.15), 0 2px 5px 0 rgba(0,0,0,.075);
}

.drop.big div.content {
    width: 320px;
}

.drop.bigger div.content {
    width: 350px;
}

.drop.center {
    position: inherit;
    float: inherit;
    top: inherit;
    left: inherit;
    transform: none;
}

.drop.center div.content {
    left: 50%;
    margin-left: -120px;
}

.drop.big.center div.content {
    margin-left: -160px;
}

.drop.bigger.center div.content {
    margin-left: -175px;
}


.drop.only div.content {
    position: relative;
    overflow: auto;
    width: 100%;
    left: 0;
    margin: 0;
}

.drop.top div.content {
    position: relative;
    overflow: auto;
}

.drop div.content button,
.drop div.content a.button {
    display: block;
    box-sizing: border-box;
    margin: 3px;
    padding: 6px 0;
    width: 234px;
    font-size: 12px;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.1);
    text-align: center;
    text-decoration: none;
    line-height: 1;
    border: none;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: rgba(0,0,0,.2);
    box-shadow: inset 0 -1px 0 0 rgba(0,0,0,.1);
    cursor: pointer;
}

.drop div.content button:hover,
.drop div.content a.button:hover {
    background-color: #8cc7ff;
    background-image: linear-gradient(#8cc7ff, #85bdf2);
}

.drop div.content button.disabled,
.drop div.content a.button.disabled {
    padding: 5px 0;
    cursor: default;
    color: #999995;
    text-shadow: 0 1px 0 rgba(255,255,255,.2);
    border: 1px solid rgba(0,0,0,.1);
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.drop div.content button:before,
.drop div.content a.button:before {
    padding-right: 3px;
}

.drop div.content button.left,
.drop div.content a.button.left,
.drop div.content button.right,
.drop div.content a.button.right {
    width: 115px;
}

.drop.only div.content button.left,
.drop.only div.content a.button.left,
.drop.only div.content button.right,
.drop.only div.content a.button.right {
    width: 155px;
}

.drop div.content button.left,
.drop div.content a.button.left {
    float: left;
    margin-right: 2px;
}

.drop div.content button.right,
.drop div.content a.button.right {
    float: right;
    margin-left: 2px;
}

.drop div.content button[class^="icon-"]
.drop div.content button[class*=" icon-"] {
    font-size: .625em;
}

.drop div.content button[class^="icon-"]:before,
.drop div.content button[class*=" icon-"]:before {
    display: block;
    padding: .05em 0;
    color: #fff;
    font-size: 4em;
    text-transform: none;
}

.drop div.content button.active,
.drop div.content a.button.active {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.1);
    border: none;
    background-color: #ff8a59;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff8a59), to(#f27b49));
    background-image: -webkit-linear-gradient(top, #ff8a59, #f27b49);
    background-image: -moz-linear-gradient(top, #ff8a59, #f27b49);
    background-image: -o-linear-gradient(top, #ff8a59, #f27b49);
    background-image: -ms-linear-gradient(top, #ff8a59, #f27b49);
    background-image: linear-gradient(top, #ff8a59, #f27b49);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ff8a59', EndColorStr='#f27b49');
}

.drop div.content button.active.icon:before {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.1);
}

.drop div.content ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.drop div.content ul a {
    display: block;
    padding: 6px 12px;
    font-size: 12px;
    color: #606060;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

.drop div.content ul a:hover {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.1);
    background-color: #8cc7ff;
    background-image: linear-gradient(#8cc7ff, #85bdf2);
    box-shadow: inset 0 -1px 0 0 rgba(0,0,0,.1);
}

.drop div.content ul:first-child li:first-child a:hover {
    -webkit-box-shadow: inset 0px -1px 0px rgba(0,0,0,.1);
    -moz-box-shadow: inset 0 -1px 0 0 rgba(0,0,0,.1);
    box-shadow: inset 0 -1px 0 0 rgba(0,0,0,.1);
}

.drop div.content ul:last-child li:last-child a:hover {
    -webkit-box-shadow: inset 0px 1px 0px rgba(0,0,0,.13);
    -moz-box-shadow: inset 0 1px 0 0 rgba(0,0,0,.13);
    box-shadow: inset 0 1px 0 0 rgba(0,0,0,.13);
}

.drop div.content span.current {
    display: block;
    color: #202020;
    padding: 6px 12px;
    font-size: .75em;
}

.drop div.content ul a.active,
.drop div.content span.current {
    color: #202020;
    font-style: italic;
    text-shadow: 0 1px 0 #fff;
    border-top: 1px solid #d9d9d3;
    border-bottom: 1px solid #fff;
    background: #ebebe5;
}

.drop div.content ul a.active:hover {
    color: #202020;
    font-style: italic;
    text-shadow: 0 1px 0 #fff;
    background: #ebebe5;
    text-decoration: none;
    cursor: default;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.drop div.content ul:first-child li:first-child a {
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    -webkit-border-top-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    border-radius:6px 6px 0 0;
}

.drop div.content ul:last-child li:last-child a {
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-radius:0 0 6px 6px;
}

.drop.big div.content,
.drop.only div.content {
    font-size: 12px;
}

.drop div.content p {
    margin: 6px;
}

.drop h3,
.drop h4 {
    margin: 0 0 3px 0;
    padding: 0;
    color: #999999;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.drop h3 {
    padding-top: 6px;
    color: #202020;
}

.drop h4 {
    padding-top: 3px;
    font-weight: normal;
}

.drop div.content div.separator {
    margin-top: 3px;
    padding-top: 3px;
    border-top: 1px solid #d9d9d9;
}

.drop div.content span.icon {
    display: block;
    padding: .5em 0;
    color: #b2b2ad;
    font-size: 1em;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
}

.drop div.content span.icon:before {
    display: block;
}

.drop div.wrapper {
    overflow: auto;
}
