<section id="help" class="view" ng-class="{ 'show': helpMessage }" ng-click="closeHelpMessage($event)">
    <div class="message">
        <div class="content">
            <h3>Heat map of RNA expressions</h3>
            <div class="sidebar big">
                <h4>Color Range</h4>
                <div class="colors"></div>
                <span class="min">0%</span>
                <span class="max">100%</span>
                <span class="med">50%</span>
            </div>
            <p>Heat map functionality lets you color the human body illustration according to the organs RNA expression.</p>
            <p>Select genes from the search panel in the bottom right and the units will be colored relatively to the minimum and maximum RNA expression value of your selection.<br/>The minimum and maximum expression value can be found above the gene selection.</p>
            <p>The RNA expression data is provided by the RNA Seq Atlas<sup>1</sup>. As a proof of concept we currently use the RPKM values as well as their average if multiple genes have been selected. As it has been shown this does not provide the best intercomparability<sup>2</sup> which is why we are working on a calculating <strong>DESeq</strong> and <strong>TMM</strong> values as suggested by Dillies et al<sup>3</sup>.</p>
            <p>Genes can be de- and selected using your mouse or keyboard only. A click on the top right "x" button will close the whole heat map modus.</p>
            <p>For further information please refer to the <a href="about?goto=heat-map">about page</a>.</p>
            <ol class="note">
                <li>
                    <sup>1</sup>
                    RNA-Seq Atlas - A reference database for gene expression profiling in normal tissue by next generation sequencing. Bioinformatics (Oxford, England), 10.1093/bioinformatics/bts084 (<a href="http://bioinformatics.oxfordjournals.org/content/28/8/1184.long" target="_blank">Krupp et al.</a>).
                </li>
                <li>
                    <sup>2</sup>
                    Measurement of mRNA abundance using RNA-seq data: RPKM measure is inconsistent among samples. Wagner GP, Kin K, Lynch VJ. <a href="https://springerlink3.metapress.com/content/18284k158v887k57/fulltext.html" target="_blank"><em>Theory Biosci</em>. 2012</a>.
                </li>
                <li>
                    <sup>3</sup>
                    A comprehensive evaluation of normalization methods for Illumina high-throughput RNA sequencing data analysis. Briefings in Bioinformatics (Oxford, England), 10.1093/bib/bbs046 (<a href="http://bib.oxfordjournals.org/content/early/2012/09/15/bib.bbs046.full" target="_blank">Dillies el al.</a>).
                </li>
            </ol>
        </div>
        <div class="close">Close</div>
    </div>
</section>