<div
  class="icon-left-arrow"
  aria-hidden="true"
  line-height
  ng-class="{ disabled: !scrollable }"
  ng-click="scroll('prev')"></div>
<div
  class="icon-right-arrow"
  aria-hidden="true"
  line-height
  ng-class="{ disabled: !scrollable }"
  ng-click="scroll('next')"></div>
<div class="container">
    <ul>
        <li ng-repeat="result in data" ng-repeat-finished>
            <h5><a ng-href="{{ result.sub[0].link }}">{{ result.name }}</a></h5>
            <i><a ng-href="{{ result.sub[0].link }}">{{ result.sub[0].species }} {{ result.sub[0].stage }}</a></i>
        </li>
    </ul>
</div>
